.user-footer-main {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color:#d9d9d9;
    color: white;
    text-align: center;
    height: 8%;
    display: flex;
    justify-content:right;
}
