.date h2{
    font-size:36px;
    color: #1A1A1A;
    font-weight: 700;
    margin: 40px 0 30px;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.survey-wrapper{
    margin-bottom: 45px;
}