<<<<<<< HEAD
.date-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-right: 37%;
    margin-bottom: -100px;
=======
.date{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-right: 37%;
    margin-bottom: -40px;
>>>>>>> cbe9d703bd191bc4494ac59843736a1707229897
}