.form-container{
    padding-top: 100px;
}

.login-wrapper{
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: -50px;
}

label{
    margin-bottom: 8px;
}
    
input{
    padding: 15px;
    border-radius: 7px;
    border: 0;
    background: #f1f1f1;
}

.input-field,
.reset-link{
    margin-bottom: 30px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.login-btn{
    max-width: 180px;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    color:#fff;
    font-size: 18px;
    background-color: #11963e;
    border:none;
    padding:10px;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.surveyImg{
   height: 300px;
   width: 400px; 
   opacity: 0.5;
   position: fixed;
}

