.signin-form-container{
    padding-top: 60px;
    margin-bottom: 15%;
}
.signin-wrapper{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 10px;
}

label{
    margin-bottom: 8px;
    width: 46px;
    height: 22px;
    left: 728px;
    top: 490px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

input{
    padding: 15px;
    border: 0;
    background: #F0F0F0;
    border-radius: 10px;
}

.signin-input-field,
.signin-reset-link{
    margin-bottom: 30px;
}

.signin-form-group{
    display: flex;
    flex-direction: column;
}

.signin-btn{
    max-width: 180px;
    margin: 0 auto;
    color:#fff;
    font-size: 18px;
    border:none;
    padding:10px;
    width: 150px;
    height: 48px;
    left: 885px;
    top: 767px;
    background: #11963E;
    border-radius: 10px;
}