.header-main {
    background-color: #6d72f2;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.header-main-second{
    display: flex;
    justify-content:flex-start;
}

.title {
    color: white;
    padding-left: 10%;
}

