.header-main {
    background-color: #6d72f2;
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
    position: fixed;
    top: 3%;
}

.header-main-second {
    display: flex;
    justify-content: flex-start;

}

.title-Img {
    margin-left: 20%;
    margin-top: 6px;
}

.title {
    color: white;
    padding-left: 10%;
}

<<<<<<< HEAD
.header-img {
    padding-right: 5%;
}
=======
>>>>>>> cbe9d703bd191bc4494ac59843736a1707229897
