.header-main {
   background-color: #6d72f2;
  display: flex;
  margin-top: 0%;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 85px;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  width: 124px;
  height: 44px;
  margin-left: 27px;
  margin-top: 37px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  color: #FFFFFF;
}

.header-img {
  display: flex;
  align-items: center;
}
.survey-img{
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-left: 38px;
  border-radius: 22px;
}
.survey-user-img{
  height: 51px;
  width: 51px;
  margin-top: 5px;
  margin-left: 14px;
  border-radius: 47px;
}

.user-name {
  color: white;
  font-size: 17px;
  font-family: 'Inter';
}

.survey-log-out {
  margin-left: 13%;
  color: white;
  cursor: pointer;
  font-family: 'Inter';
  margin-top: 25px
}
.log-out_logo {
  font-size: 33px;
  margin-left: -6px;
  margin-right: 19px;
  opacity: 0.8;
}