* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
}

.accordion {

  max-width: 1600px;
  margin-left: 100px;
  padding-top: 100px;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgb(152, 128, 219);
  color: #fff;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(102, 99, 91);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.FinishButton {
  color: white;
  height: 40px;
  width: 80px;
  background-Color: green;
  border-Radius: 8px;
  border-Color: rgb(24, 29, 24);
  margin-left: 1500px;
}

input {
  visibility: hidden;
}

.buttonforsave {
  color: white;
  height: 40px;
  position: absolute;
  width: 50px;
  margin-top: 15px;
  margin-left: 140px;
  background-color: green;
  border-radius: 12px;
}

.DivContent {
  width: 50%;
  border-radius: 5px;
  margin-left: 10%;
  background-color: rgba(245, 241, 241, 0.891);
  margin-top: -3%;
  border-radius: 0px 0px 15px 15px;
}

.QuestionContent {
  padding-top: 4%;
}

.Review {
  border: 1px solid black;
  background-color: rgba(245, 241, 241, 0.891);

  border-radius: 10px;
}

.bolt {
  border: 1px solid rgb(170, 150, 150);
  padding: 5px;

}

.AnswerContent {
  display: flex;
  justify-content: left;
}