/* .mains20 {
    margin-top: 2%;
    margin-bottom: 2%;
}
.mains21 {
    display: flex;
    justify-content: center;
}
.mains2{
    background-color:black;
    height: 50px;
    width: 50%;
    border-radius: 5px;
}
.mains22{
    display: flex;
    justify-content:space-between;
}
.mains23 {
    display: flex;
    justify-content: flex-start;
}
.ps21{
    color: white;
    padding-left: 45%;
}
.ps22{
    color: white;
    padding-left: 15%;
}
.ps23{
    color: white;
    padding-left: 11%;
}

.btn21 {
    margin: 10%;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
.btn22 {
    margin-right: 3%;
}
.pres21 {
    height: 50px;
    width: 50%;
    border-radius: 5px;
    height:700px;
    margin-left: 25%;
    background-color: rgba(245, 241, 241, 0.891);
    margin-top: -1%;
}
.bolt {
    border: 1px solid rgb(202, 198, 198);
    padding: 5px;
    padding-left: 1px;
    padding-right: 8px;
}
.bolt1 {
    padding-top: 0.5%;
    padding-bottom: 1%;
}
.pres22 {
    padding-top: 4%;
}
.aria {
    border: 1px solid black;
    background-color: rgba(245, 241, 241, 0.891);
    height: 90px;
    width: 350px;
    border-radius: 10px;
}
.radio {
    width: 3%;
    height: 2em;
    -webkit-appearance:none;
}
 
 */