.header-main {
    background-color: #6d72f2;
    display: flex;
    margin-top: -1%;
    position: sticky;
    top: 0;
}

.header-main-second {
    display: flex;
    justify-content: flex-start;
}

.title-Img {
    margin-left: 20%;
    margin-top: 6px;
}

.title {
    color: white;
    padding-left: 10%;
}

.header-img {
    margin-top: -19px;
    display: flex;
    align-items: center;
    padding-right: 2%;
}

.img {
    margin-left: 12px;
}

.user-name {
    color: white;
}