.header-main {
    background-color: #6d72f2;
    padding-right: 1750px;
    position: fixed;
    margin-top: -35px;
}

.header-main-second {
    display: flex;
    justify-content: flex-start;
}

.title-logo {
    padding: 10%;
    margin-left: 20%;
}

.title {
    color: white;
    padding-left: 10%;
}

.header-img {
    padding-left: 1700px;
}