.mainf {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    background-color:#d9d9d9;
    color: white;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content:right;
}
.btn {
    border-radius: 5px;
    border: none;
    background-color: rgb(160, 220, 160);
    width: 120px;
    margin: 9px;
    color: white;
    margin-right: 5%;
}
.btn:hover {
    background-color: green;
}