.login-form-container {
    padding-top: 100px;
    background: #FFFFFF;
}

.login-wrapper {
    max-width: 500px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.ToastContainer {
    margin-top: 7%;
}

.login {
    width: 81px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 39px;
}

.login-form-group {
    display: flex;
    flex-direction: column;
}

.login-label {
    width: 46px;
    height: 22px;
    left: 728px;
    top: 490px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.login-input {
    padding: 15px;
    border: 0;
    background: #F0F0F0;
    border-radius: 10px;
    margin-top: 5px;
}

.login-input-field{
    margin-bottom: 30px;
}
.login-reset-link {
    margin-top: -11px;
    margin-bottom: 54px;
    font-family: 'Inter';
}

.login_is-danger {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

.for-email {
    margin-top: -5%;
    margin-bottom: 1%;
}

.link {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.login-btn {
    max-width: 180px;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 10px;
    width: 150px;
    height: 48px;
    left: 885px;
    top: 767px;
    background: #11963E;
    border-radius: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container1 {
    background-image: url("../../assets//Img/survey.png");
    background-repeat: no-repeat;
    opacity: 1.5;
    background-size: 97%;
    height: 490px;
    width: 777px;
    margin-bottom: 36px;
}
.img {
    height: 40px;
    width: 40px;
    margin-top: 17px;
    margin-left: 38px;
}