.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainDiv1 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.mainDiv2 {
  display: flex;
  justify-content: center;
}

.mainDiv3 {
  background-color: #1599b9;
  height: 70px;
  width: 85%;
  border-radius: 5px;
  border-radius: 15px;
}

.mainDiv4 {
  display: flex;
  justify-content: space-between;
}

.ClassForTitle {
  display: flex;
  justify-content: flex-start;
}

.TitleName {
  color: rgb(12, 1, 1);
  padding-left: 20px;
  padding-top: 18px;
}

.SaveButton {
  color: white;
  height: 50px;
  position: absolute;
  width: 70px;
  margin-top: 6px;
  margin-left: 1100px;
  background-color: green;
  border-radius: 12px;
}

.button {
  margin-right: 3%;
}
